@import "../_vars"

.input-field
  width: 100%
  border-radius: $gutter / 2
  outline: none
  padding: $gutter * 2.5 $gutter * 2
  text-align: left
  background: none
  border: 1px solid $lightgrey
  font-size: 1.14rem
  cursor: pointer
  &::placeholder
    color: $grey
    font-family: $default-font
  &:focus
    border-color: $dark
  &:invalid:not(:placeholder-shown)
    border-color: $error
    & ~ .form-box__req
      display: block

.input-field:disabled
  background: $lightgrey
  border-color: $lightgrey
  color: $grey
  






