@import ../_vars

.radio-btn
    display: flex
    label 
        padding-left: $gutter * 3.5
    [type="radio"]
        &:checked, &:not(:checked)
            visibility: hidden
            width: 0px
            margin: 0
        &:checked + label, &:not(:checked) + label
            position: relative
            cursor: pointer
            display: block
        &:checked + label:before, &:not(:checked) + label:before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: $gutter * 2
            height: $gutter * 2
            border: 1px solid $grey
            border-radius: 100%
            background: none
        &:checked + label:before
            border-color: $accent
        &:checked + label:after
            content: ''
            width: 6px
            height: 6px
            background: $accent
            position: absolute
            top: 7px
            left: 7px
            border-radius: 100%
            transition: all 0.2s ease
        &:not(:checked) + label:after
            content: ''
            width: 12px
            height: 12px
            position: absolute
            top: 4px
            left: 4px
            border-radius: 100%
            transition: all 0.2s ease
            opacity: 0
            transform: scale(0)
        &:checked + label:after
            opacity: 1
            transform: scale(1) 

    &:hover
        label
            color: $accent
        [type="radio"]
            &:checked + label:before, &:not(:checked) + label:before
                border-color: $accent
            &:disabled + label:before
                border-color: $lightgrey

    [type="radio"]
        &:disabled + label
            color: $grey
            &:before
                background: $lightgrey
                border-color: $lightgrey 
