@import ../../../_vars

.form-box__label_name
    width: calc(50% - 10px)
    margin-right: $gutter * 2

@media only screen and (max-width : 768px)
    .form-box__label_name
        width: 100%
        margin-right: 0
