@import "../_vars"

.button
  border-radius: $gutter * 3
  outline: none
  border: none
  cursor: pointer
  transition: $trans
  text-decoration: none
  text-align: center
  padding: $gutter * 2 $gutter * 4.5
  font-size: 1.14em
  color: $light
  background-color: $accent
  &:hover
    background-color: $blue
  &:active
    background-color: $darkblue
    
.button:disabled
  background-color: $lightgrey
  color: $grey
