@import ../../_vars

.brochure__tab
    background-color: $lightgrey
    border-left: 1px solid rgba(0, 0, 0, 0.08)
    color: $grey
    padding: $gutter * 3 $gutter * 4
    position: relative
    text-align: center
    border-radius: $gutter / 1.5 $gutter / 1.5 0 0
    min-width: 130px
    z-index: 1
    cursor: pointer
    &:first-child
        border-left: none
    &:nth-child(3)
        z-index: 2
    &:hover
        color: $accent
    &:before
        z-index: -1
        content: ''
        position: absolute
        right: -25px
        top: 14px
        height: 111%
        width: 70px
        background-color: $lightgrey
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.08)
        transform: rotate(-29deg)
    
.brochure__tab.active
    background-color: $light
    color: $accent
    border-left: none
    z-index: 4
    &:before
        background-color: $light

.brochure__tab.active + .brochure__tab
    z-index: 3

.brochure__tab.active ~ .brochure__tab
    border-left: none



