@import ../_vars

.title
    align-self: flex-start
    font-size: 2.28rem
    margin:
        top: $gutter 
        bottom: $gutter * 5

@media only screen and (max-width : 768px)
    .title
        font-size: 1.7rem