@import ../../_vars

.form-box__radio
    width: 50%
    padding-right: $gutter / 2

@media only screen and (max-width : 768px)
    .form-box__radio
        width: 100%
        padding:
            right: 0
            top: $gutter
            bottom: $gutter