@import "vars"
@import "fonts"
@import "libs"

*
  box-sizing: border-box
  max-width: 100%
  &:before, &:after
    box-sizing: border-box

html
  height: 100%
  font-size: 18px

body
	margin: 0
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	min-width: 320px
	min-height: 100vh
	justify-content: space-between
	position: relative
	line-height: 1.2
	font-family: $default-font
	background-color: $default
	overflow-x: hidden
	color: $text

main
	flex-grow: 2
	width: 100%
	max-width: 1200px

// BUTTON
@import "button/button"

// INPUT-FIELD
@import "input-field/input-field"

// SECTION
@import "section/section"
@import "section/__wrapper/section__wrapper"

// TITLE
@import "title/title"

// RADIO-BTN
@import "radio-btn/radio-btn"

// FORM-BOX
@import "form-box/form-box"
@import "form-box/__form/form-box__form"
@import "form-box/__label/form-box__label"
@import "form-box/__label/_name/form-box__label_name"
@import "form-box/__label/_tel/form-box__label_tel"
@import "form-box/__req/form-box__req"
@import "form-box/__btn/form-box__btn"
@import "form-box/__input-title/form-box__input-title"
@import "form-box/__radio/form-box__radio"
@import "form-box/__list/form-box__list"

// BROCHURE
@import "brochure/brochure"
@import "brochure/__nav/brochure__nav"
@import "brochure/__tab/brochure__tab"
@import "brochure/__mobile-tab/brochure__mobile-tab"
@import "brochure/__content/brochure__content"
@import "brochure/__box/brochure__box"

// MAP
@import "map/map"

@import "media" // Always at the end
