@import ../../_vars

.brochure__mobile-tab
    display: none

@media only screen and (max-width : 768px)
    .brochure__mobile-tab
        display: block
        cursor: pointer
        color: $grey
        width: 100%
        padding: $gutter * 2
        background-color: $light
        position: relative
        border:
            top: 1px solid $lightgrey
            bottom: 1px solid $lightgrey
        &:after
            content: ''
            position: absolute
            right: 20px
            top: 50%
            width: 7px
            height: 7px
            transform: translateY(-50%) rotate(135deg)
            border:
                top: 2px solid $grey
                right: 2px solid $grey
        &:hover
            color: $accent
            &:after
                border-color: $accent

    .brochure__mobile-tab.active
        color: $accent
        &:after
            border-color: $accent
            transform: translateY(-50%) rotate(-45deg)
    