@import "../../_vars"

.section__wrapper
  width: 100%
  max-width: 1024px
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center
  padding: $gutter * 4 $gutter * 1.5
  position: relative
